<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lost and Found Finder: Temukan dan Laporkan Barang Hilang dengan Mudah">
    <link rel="icon" href="./icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Lost and Found Finder</title>
</head>

<body>
    <header class="app-bar">
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
            <img src="./icon.png" alt="logo website lost and finder">
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="#/home">HOME</a></li>
                <li><a href="#/about">ABOUT</a></li>
                <li><a href="#/contact">CONTACT</a></li>
            </ul>
        </nav>
    </header>
    <hero-element></hero-element>
    <main id="mainContent"></main>
    
</body>
</html>
</body>

</html>