<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lost and Found Finder: Temukan dan Laporkan Barang Hilang dengan Mudah">
    <link rel="icon" href="./icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Lost and Found Finder</title>
</head>

<body>
    <header class="app-bar">
        <div class="app-bar__brand">
            <img src="./icon.png" alt="logo website lost and finder">
        </div>
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <nav-bar></nav-bar>
    </header>
    <main id="mainContent"></main>

    <footer>
        <div class="container-footer">
            <div class="icon">
                <div class="icon-item">
                    <div class="icon-location">
                        <img src="https://img.icons8.com/ios/50/marker--v1.png" alt="marker--v1" />
                    </div>
                    <p>Jakarta, Jln Kenangan No 34</p>
                </div>

                <div class="icon-item">
                    <div class="icon-phone">
                        <img src="https://img.icons8.com/ios/50/phone--v1.png" alt="phone--v1" />
                    </div>
                    <p>0822 3728 2128</p>
                </div>

                <div class="icon-item">
                    <div class="icon-message">
                        <img src=" https://img.icons8.com/ios/50/secured-letter--v1.png" alt="secured-letter--v1" />
                    </div>
                    <p>
                        <a href="">lostfounder@gmail.com</a>
                    </p>
                </div>
            </div>

            <div class="information">
                <div class="list-information">
                    <h4>Logo</h4>
                </div>

                <div class="list-information">
                    <h4>Company</h4>
                    <ul>
                        <li>Out Story</li>
                        <li>lorem</li>
                        <li>lorem</li>
                        <li>lorem</li>
                    </ul>

                </div>

                <div class="list-information">
                    <h4>Resources</h4>
                    <ul>
                        <li>Out Story</li>
                        <li>lorem</li>
                        <li>lorem</li>
                        <li>lorem</li>
                    </ul>
                </div>

                <div class="list-information">
                    <h4>Resources</h4>
                    <ul>
                        <li>Out Story</li>
                        <li>lorem</li>
                        <li>lorem</li>
                        <li>lorem</li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>
    <div class="copy-right">
        &copy; Copyright 2023 || <span>Lost and Found Finder</span>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>
</body>

</html>