.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
}

.hero-text h1 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 2.2em;
  color: #43609b;
  margin-bottom: 20px;
  margin-left: -5px;
  line-height: 1.125;
}

.hero-text h3 {
  margin: 0px 0px 10px 0px;
  font-size: 1.4em;
  padding-bottom: 5px;
}

.btn-lapor {
  padding: 15px 40px 15px 40px;
  color: #d3d3d3;
  font-weight: 400;
  font-size: 1.4em;
  border: none;
  background-color: #dd7160;
}

.btn-lapor button:hover {
  background-color: #43609b;
}

.btn-lapor button:active {
  transform: translateY(2px);
}

.hero-text p {
  font-family: "Montserrat", sans-serif;
  color: #1c1a1a;
  font-weight: 600;
  font-size: 0.8em;
}

.bg-image {
  min-width: 550px;
  height: auto;
  overflow: hidden;
  display: none;
}

.bg-image img {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.51);
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(1.9px);
  border-radius: 50px 0 50px 0;
  object-fit: cover;
}

#information-section {
  background-color: #333;
  color: #ffff;
  margin: 110px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#information-section p {
  margin: 50px;
  text-align: justify;
  max-width: 1200px;
}

#information-section p::first-letter {
  font-size: 1.2em;
  font-weight: bold;
}

.syarat:hover {
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 1140px) {
  .bg-image {
    display: block;
  }
}

@media screen and (min-width: 340px) {
  .hero-text h3 {
    font-size: 1.6em;
    padding-bottom: 0px;
  }
  .hero-text h1 {
    font-size: 3.2em;
  }
  .hero-text p {
    font-size: 1em;
  }
}

@media screen and (min-width: 440px) {
  .hero-text h3 {
    font-size: 1.8em;
  }
  .hero-text h1 {
    font-size: 4.2em;
  }
  .hero-text p {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 540px) {
  .hero-text h1 {
    font-size: 5.2em;
  }
}
