/* Form */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: strech;
    justify-content: center;
}

.form-title {
    text-align: center;
    margin: 30px;
    font-size: 2.2em;
    font-weight: 600;
}
  
.left-form {
    position: relative;
    background-color: #43609b;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.left-form img {
    width: 430px;
    height: auto;
    display: none;
}

.left-form .line-description {
    border: 3px solid #fff;
}

.left-description {
    padding: 50px 5px 0px 5px;
    color: #f08f85;
    font-weight: bold;
}

.left-form h4{
    color: #ffff;
    font-size: 1.1em;
}

/* right form */
.right-form {
    background-color: #dfdfdf;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#lost-form, #found-form {
    padding: 20px 20px;
}

.submit-btn .btn-submit {
    background-color: #43609b;
    color: #fff;
}

/* input area */

#item-description {
    resize: none;
}


/* form Button */

@media screen and (min-width: 900px) {
    .form-container {
        flex-direction: row;
    }
}

@media screen and (min-width: 500px) {
    .left-form img {
        display: inline;
    }
    .form-title {
        font-size: 3.2em;
    }
}