/* Form */
.form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-title {
    text-align: center;
    margin: 30px;
    font-size: 3.2em;
    font-weight: 600;
}
  
.left-form {
    position: relative;
    background-color: #43609b;
    height: 812px;
}

.left-form img {
    width: 430px;
    height: auto;
}

.left-description {
    text-align: center;
    padding: 50px 5px;
}

.left-form h4{
    color: #ffff;
    font-size: 1.1em;
}

/* right form */
.right-form {
    background-color: #dfdfdf;
}

#lost-form {
    padding: 20px 20px;
}


/* input area */

#item-description {
    resize: none;
}


/* form Button */

