/* Form */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: strech;
    justify-content: center;
    background-color: transparent !important;
    border: none !important;
}

.form-title {
    text-align: center;
    margin: 30px;
    font-size: 2.2em;
    font-weight: 600;
}
  
.left-form {
    position: relative;
    background-color: #43609b;
    text-align: center;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
}

.left-form img {
    width: 430px;
    height: auto;
    display: none;
}

.left-form .line-description {
    border: 3px solid #fff;
}

.left-description {
    padding: 50px 5px 0px 5px;
    color: #f08f85;
    font-weight: 500;
}

.left-form h4{
    color: #ffff;
    font-size: 1.1em;
}

/* right form */
.right-form {
    background-color: #dfdfdf;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
}

#lost-form, #found-form {
    padding: 20px 20px;
}

/* input area */

#item-description {
    resize: none;
}

#submit-btn {
  box-shadow: 2px 4px 2px #333;
  border: 1px solid #333;
}

#submit-btn:hover {
  background-color: #43609b;
}

#submit-btn:active {
  transform: translateY(1.5px);
  box-shadow: 1px 3px 2px #333;
}

.submit-btn {
  display: flex;
    align-items: center;
    flex-direction: column;
}


/* form Button */

@media screen and (min-width: 900px) {
    .form-container {
        flex-direction: row;
    }
}

@media screen and (min-width: 500px) {
    .left-form img {
        display: inline;
    }
    .form-title {
        font-size: 3.2em;
    }

}



/*sweet alert custom */

.swal2-popup {
		border: 3px solid #bfbfbf !important;
		border-radius: 10px !important;
  }

	.swal2-popup button {
		background-color: #f08f85 !important;
	}
  
  .swal2-popup .swal2-content {
    padding: 0;
  }
  
  .swal2-popup .swal2-title {
    font-size: 2.4em;
    margin-bottom: 20px;
  }
  
  .swal2-popup .swal2-icon img {
    max-width: 250px;
    max-height: 250px;
    margin-bottom: 10px;
  }
  
  .swal2-popup .swal2-text {
    font-size: 18px !important;
  }
  
  .swal2-popup .swal2-actions {
    margin-top: 20px;
    text-align: center;
  }
  
  .swal2-popup .swal2-confirm,
  .swal2-popup .swal2-cancel {
    padding: 10px 20px;
    font-size: 26px;
  }

  /* filter-group input */

  .input-group-search {
    display: flex !important;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
  }

  .input-group-text {
    border-radius: 0 15px 15px 0;
    border: 1px solid #9b9b9b;
    background-color: #dd7160;
  }

  #search-input {
    border: 1px solid #9b9b9b !important;
    border-radius: 15px 0 0 15px;
    box-shadow: 2px 2px 2px #9b9b9b inset;
  }

  .form-control {
    border: 1px solid #9b9b9b !important;
    box-shadow: 2px 2px 2px #9b9b9b inset;
    border-radius: 15px;
  }

  .input-group-search .search-icon img {
    width: 25px;
    height: 25px;
  }