/* Form */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: strech;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

.form-title {
    text-align: center;
    margin: 30px;
    font-size: 49em;
    font-weight: 600;
}
  
.left-form {
    position: relative;
    background-color: #43609b;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.left-form img {
    width: 430px;
    height: auto;
    display: none;
}

.left-description {
    padding: 50px 5px 0px 5px;
}

.left-form h4{
    color: #ffff;
    font-size: 1.1em;
}

.disini a {
    text-decoration: none;
    color: #dfdfdf;
    font-weight: bolder;
}

/* right form */
.right-form {
    background-color: #dfdfdf;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#lost-form {
    padding: 20px 20px;
}

/* input area */
#item-description {
    resize: none;
}

.btn-submit {
    background-color: #43609B;
    color: #dfdfdf;
    margin-right: 5px;
}

.btn-submit:hover {
    background-color: #6486ca;
    color: #dfdfdf;
}

/* form Button */
@media screen and (min-width: 900px) {
    .form-container {
        flex-direction: row;
    }
}

@media screen and (min-width: 500px) {
    .left-form img {
        display: inline;
    }
    .form-title {
        font-size: 3.2em;
    }
}