/* Services */
.services {
  padding: 0 auto;
  text-align: center;
}

.services-list {
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  margin: 80px auto;
  max-width: 1300px;
  padding-inline: 20px;
  padding: 20px;
  list-style: none;
  border-radius: 0;
}

.service-item1, .service-item2, .service-item3 {
  padding: 20px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.service-item3 {
  border-right: none !important;
}

.service-item1 img, .service-item2 img, .service-item3 img {
  max-width: 350px;
  height: auto;
  filter: opacity(85%);
  border-radius: 380px 40px 20px 20px;
}

.services h1 {
  color: #43609b;
  text-align: center;
  margin: 50px;
  font-size: 3.8em;
  font-weight: bold;
}

.services h2 {
  color: #43609b;
  font-weight: 500;
  cursor: pointer;
}

.services h2:hover {
  transform: translateY(1.4px);
  color: #295cc4;
}


.role-title {
  text-align: center;
  text-decoration: none;
  position: absolute;
  font-size: 2.4em;
  font-weight: 600;
  color: #43609b;
}

.role-title:hover {
  text-decoration: none;
  color: #295cc4;
  transform: translate(1.5px);
}

.role-desc {
  font-weight: 600;
  text-align: start;
}

/* List Item Service */

#item-list {
  height: 100vh;
  overflow: auto;
}

.location {
  margin-left: -20px !important;
  display: flex;
}

.card-body h5 {
  font-weight: 500;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  position: relative;
  margin: 0 auto; 
}

.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-top: 4px solid #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner:before,
.loading-spinner:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid transparent;
}

.loading-spinner:before {
  border-top-color: #3498db;
  border-right-color: #3498db;
  animation: spinBefore 1.2s linear infinite;
}

.loading-spinner:after {
  border-bottom-color: #3498db;
  border-left-color: #3498db;
  animation: spinAfter 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinBefore {
  0%,
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes spinAfter {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  text-align: center;
  margin-top: 10px;
}
