/* Services */
.services {
  padding: 0 auto;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  margin: 80px auto;
  max-width: 1300px;
  padding-inline: 20px;
  padding: 20px;
  list-style: none;
  border-radius: 0;
}

.service-item1, .service-item2, .service-item3 {
  padding: 20px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
}

.service-item3 {
  border-right: none !important;
}

.service-item1 img, .service-item2 img, .service-item3 img {
  max-width: 350px;
  height: auto;
  filter: opacity(65%);
  border-radius: 380px 40px 20px 20px;
}

.services h1 {
  color: #43609b;
  text-align: center;
  margin: 50px;
  font-size: 3.8em;
  font-weight: bold;
}

.services h2 {
  color: #43609b;
  font-weight: 500;
  cursor: pointer;
}

.services h2:hover {
  transform: translateY(1.4px);
  color: #295cc4;
}


.role-title {
  text-align: center;
  text-decoration: none;
  position: absolute;
  font-size: 2.4em;
  font-weight: 600;
  color: #43609b;
}

.role-title:hover {
  text-decoration: none;
  color: #295cc4;
  transform: translate(1.5px);
}

.role-desc {
  font-weight: 600;
  text-align: center;
}

