.sponsor-title {
    text-align: center;
    margin: 20px 0;
}

.sponsor-container {
    width: full;
    padding: 20px;
    align-items: center;
    /* background-color: red; */
    margin: 20px 0;
}

.university {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    /* background-color: blue; */
    flex-wrap: wrap;
}

.university img {
    max-width: 275px;
    background-size: cover;
}

@media only screen and (max-width: 500px) {
  .sponsor-container .university img {
    width: 100%;
  }
}