.sponsor-title h2 {
	text-align: center;
	margin-top: 20px;
}

.sponsor-container {
	width: 100%;
	margin: 51px 0;
	padding: 10px 50px;
	/* background-color: red; */
}

.university {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 20px;
	/* background-color: yellow; */
}

.sponsor-container img {
	width: 230px;
	height: auto;
}

@media only screen and (max-width: 500px) {
	.sponsor-container {
		width: 200px;
	}

	.university {
		justify-content: center;
	}
}

@media only screen and (max-width: 804px) {
	.university {
		justify-content: space-evenly;
	}
}
