@media screen and (min-width: 650px) {
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }

  .app-bar .app-bar__menu {
    display: none;
  }

  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
  }

  .app-bar .app-bar__navigation ul li {
    display: inline-block;
  }

  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 0;
  }
}

@media screen and (min-width: 250px) {
  footer {
    display: flex;
    flex-direction: column;
  }

  .footer-left {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 650px) {
  footer {
    display: flex;
    flex-direction: row;
  }

  .footer-left {
    margin-bottom: 20px;
  }
}
/*
  Site Description
*/

@media screen and (min-width: 1050px) {
    site-description-element .desc-container {
        grid-template-columns: 1fr 1fr;
    }
}

