* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(../public/images/bg3.webp);
  background-size: cover; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* AppBar */

.app-bar {
  padding: 8px 16px;
  background-color: transparent;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  transition: background-color 0.3s ease-in-out;
}

.app-bar--scrolled {
  background-color: #0f131bb4; 
}

.btn-abt {
  background-color: #43609b;
  color: #d7d7d7 !important;
  border-radius: 25px;
}


.btn-abt:hover{
  transform: scale(1.1);
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  padding: 8px;
  cursor: pointer;
  color: #43609b;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__brand img {
  width: 50px;
  height: auto;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 72px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: none;
  overflow: hidden;
  border-radius: 0 0 5px 0;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: #1f1f1f;
  font-weight: bold;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
  transition: color 0.3s ease-in-out;
}

.app-bar__navigation ul li a.a--scrolled {
  color: #d3d3d3;
}

dl, ol, ul {
  margin-bottom: 0 !important;
}

/* footer */
footer {
  display: flex;
  flex-direction: row;
  background: rgba(153, 153, 153, 0.51);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  padding: 30px;
  color: #1c1a1a;
  text-shadow: 1px 1px rgb(143, 143, 143);
}

.footer-left {
  display: flex;
  flex-direction: column;
  flex: 2;
  font-size: large;
}

.footer-left img {
  width: 30px;
  height: 30px;
}

.location,
.phone,
.message {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.message a {
  color: #1c1a1a;
  text-shadow: 1px 1px rgb(143, 143, 143);
}

.icon-location,
.icon-phone,
.icon-message {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 50%;
  margin-right: 10px;
  transition: 0.5s;
}

.icon-location:hover,
.icon-phone:hover,
.icon-message:hover {
  background-color: #9ba4b5;
  cursor: pointer;
}

.footer-mid {
  flex: 2;
}

.footer-right {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.footer-right h3 {
  margin-bottom: 10px;
  color: #43609b;
}

.footer-right .sosmed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.item-sosmed img {
  width: 30px;
  height: 30px;
}

.item-sosmed {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  transition: 0.5s;
}

.item-sosmed:hover {
  background-color: #9ba4b5;
  cursor: pointer;
}

footer {
  display: flex;
}

.copy-right {
  padding: 20px;
  text-align: center;
  color: #43609b;
  font-size: 20px;
  background-color: #243352;
}

.copy-right span {
  font-weight: bold;
}


/*
  Site Description
*/
site-description-element div {
  background-color: transparent;
  padding: 20px;
  background-color: #1c1a1a;
}

site-description-element .desc-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 40px;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(1.9px);
  border-radius: 10px;
}
.description h2 {
  font-weight: 600;
  font-size: 2.5em;
}

.desc-container img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  vertical-align: middle;
}

.desc-container .description p{
  color: #d7d7d7;
  text-align: justify;
  line-break: auto;
}

.desc-container .description h2{
  color: #43609b;
  padding-bottom: 20px;
}

/* Services */
.services {
  padding: 75px;
}

.services ul {
  display: flex !important;
  justify-content: center;
  gap:60px;
  list-style: none;
  padding: 50px;
  margin: 80px;
  color: #1c1a1a;
  background: rgba(153, 153, 153, 0.51);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(7.5px);
  }

.services h1{
  color: #43609b;
  text-align: center;
  margin: 50px;
  font-size: 3.8em;
  font-weight: bold;
  filter: drop-shadow(0px 5px 1px #333);
}

.services h2{
  color: #43609b;
  font-weight: 500;
}

.services li {
  width: 450px;
  text-align: justify;
}
/* function section */
function-section {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
    background-color: #1c1a1a;
    /* height: 300px; */
}

function-section h2 {
    color: #43609b;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
}
.lostButton, .findButton {
    text-align: center;
}

/* information section */
information-section {
    padding: 50px;
    display: inline-block;   
    background: rgba(153, 153, 153, 0.51);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    padding: 20px 165px;
    margin:  40px 0 40px 0;
    width: 100%;
}
information-section h2 {
    color: #43609b;
    font-weight: 600;
    font-size: 2.4em;
    text-align: center;
    margin-bottom: 40px;
}
.containerCard {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 90%;
    padding: 10px 10px;
    overflow-x: scroll;
}

.containerCard::-webkit-scrollbar {
    width: 2px;
}
.containerCard::-webkit-scrollbar-thumb{
    background-color: #4B68A3;
    height: 5px;
    width: 5px;
    border-radius: 5px;
    border: 3px solid white;
}
.containerCard::-webkit-scrollbar-track{
    background-color: white;
    /* margin-block: 100px; */
    border-radius: 5px;
}
.card{
    min-width: 18rem;
    margin-bottom: 30px;
    background-color: aliceblue;
    box-shadow: 0px 5px 6px #1f1f1f;
    padding: 20px;
    border-radius: 15px !important;
}

.card:hover {
  transform:translateY(1.2);
}
.card h5{
    padding: 0 5px;
    font-weight: 600;
}
.card-text{
    padding: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 4; 
            line-clamp: 4; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.more-icon-container {
  display: flex;
  align-items: center; /* Align items vertically */
}

/* Form */
.form-container {
  padding: 20px;
  margin-inline: auto;
  max-width: 1200px;
}

.form-title {
  text-align: center;
  padding-block: 20px;
}

.image-area {
  border: 3px dashed rgba(34, 34, 34, 0.253);
  padding: 1rem;
  position: relative;
}

.image-area::before {
  content: 'Uploaded image result';
  color: gray;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.image-area img {
  z-index: 2;
  position: relative;
}

/* button */
button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: #43609b;
  color: #fff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c99c26;
}

button:active {
  transform: translateY(2px);
}
