@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* AppBar */

.app-bar {
  padding: 8px 16px;
  background-color: transparent;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  transition: background-color 0.3s ease-in-out;
}

.app-bar--scrolled {
  background: rgba(0, 0, 0, 0.58);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
}

.btn-abt {
  background-color: #43609b;
  color: #d7d7d7 !important;
  border-radius: 25px;
}

.btn-abt:hover {
  transform: scale(1.1);
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  padding: 8px;
  cursor: pointer;
  color: #43609b;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__brand img {
  width: 50px;
  height: auto;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 72px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: none;
  overflow: hidden;
  border-radius: 0 0 5px 0;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: #1f1f1f;
  font-weight: bold;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
  transition: color 0.3s ease-in-out;
}

.app-bar__navigation ul li a.a--scrolled {
  color: #d3d3d3;
}

.app-bar__navigation ul li a:hover {
  color: #295cc4;
}

dl,
ol,
ul {
  margin-bottom: 0 !important;
}

ol,
ul {
  padding-left: 0 !important;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  color: #000000;
  background-color: inherit;
  margin: 0;
  padding: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  padding: 30px 70px;
  color: #1c1a1a;
}

.container-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.icon {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 40px 0;
}

.icon-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.icon-item img {
  width: 40px;
}

.icon-location,
.icon-phone,
.icon-message {
  width: auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-information {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.list-information h4 {
  margin: 20px 0;
}

.list-information ul li {
  list-style: none;
}

.copy-right {
  padding: 20px;
  text-align: center;
  color: #d3d3d3;
  font-size: 20px;
  background-color: #131517;
}

.copy-right span {
  font-weight: bold;
}

/* Site Description */
site-description-element div {
  background-color: transparent;
  padding: 10px;
  word-break: break-all;
}

site-description-element .desc-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 20px;
  margin: 110px auto;
  max-width: 1200px;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(1.9px);
  border-radius: 10px;
}
.description h2 {
  font-weight: bold;
  font-size: 3.5em;
}

.desc-container img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  vertical-align: middle;
}

.desc-container .description p {
  color: #0c0c0c;
  text-align: justify;
  word-break: break-all;
  font-size: 1.2em;
}

.desc-container .description p::first-letter {
  padding-left: 2.2em;
}

.desc-container .description h2 {
  color: #43609b;
  padding-bottom: 20px;
  font-size: 2.4em !important;
  font-weight: bold;
}

/* Services */
.services {
  padding: 0 auto;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.services-list li {
  padding: 20px;
  list-style: none;
  border-radius: 0;
  margin: 20px;
  border: 1px solid rgb(24, 24, 24);
  box-shadow: 6px 6px 2px #000000;
}

.services h1 {
  color: #43609b;
  text-align: center;
  margin: 50px;
  font-size: 3.8em;
  font-weight: bold;
}

.services h2 {
  color: #43609b;
  font-weight: 500;
  cursor: pointer;
}

.services h2:hover {
  transform: translateY(1.4px);
  color: #295cc4;
}

/* function section */
function-section {
  padding: 20px 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  object-fit: fill;
}

function-section h2 {
  color: #43609b;
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: black;
  line-height: 1.1592;
  margin-bottom: -20px;
}

.banner-img {
  min-width: 500px;
  min-height: 650px;
}

.banner-img img {
  width: 100%;
  height: 100%;
}

.left-side {
  margin-bottom: -70px;
  padding: 0 !important;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 40px;
}

/* information section */
information-section {
  padding: 50px;
  display: inline-block;
  background: #131517;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  padding: 50px 165px !important;
  margin: 50px 0 50px 0;
  width: 100%;
}

information-section h2 {
  color: #cacaca;
  font-weight: 600;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 40px;
}

information-section h3 {
  text-align: center;
}

information-section a {
  text-decoration: none;
  color: #43609b;
}

information-section a:hover {
  transform: translate(1.4px);
  color: #c99c26;
}

.containerCard {
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 90%;
  padding: 10px 10px;
  overflow-x: scroll;
}

.containerCard::-webkit-scrollbar {
  width: 2px;
}

.containerCard::-webkit-scrollbar-thumb {
  background-color: #4b68a3;
  height: 5px;
  width: 5px;
  border-radius: 5px;
  border: 3px solid white;
}

.containerCard::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
}

.card {
  min-width: 18rem;
  margin-bottom: 30px;
  border: none !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}

.card:hover {
  transform: translateY(1.2);
}

.card h5 {
  padding: 0 5px;
  font-weight: 600;
}

.card-img-top img {
  border-radius: 0 !important;
}

.card-text {
  padding: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #cacaca;
}

.more-icon-container {
  display: flex;
  align-items: center; /* Align items vertically */
}

/* Form */
.form-container {
  padding: 0 150px;
  margin-inline: auto;
  max-width: 1200px;
}

.form-check {
  margin: 20px;
}

.form-check-label {
  color: #202020;
  background-color: #8d8d8db4;
  border-radius: 10px;
  padding: 0 5px;
}

.form-title {
  text-align: center;
  padding-block: 20px;
}

.image-area {
  border: 3px dashed rgba(34, 34, 34, 0.253);
  padding: 1rem;
  position: relative;
}

.image-area::before {
  content: "Uploaded image result";
  color: gray;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.image-area img {
  z-index: 2;
  position: relative;
}

/* input */

input {
  border-radius: 2px !important;
  background: #e0e0e0;
  box-shadow: inset 9px 9px 18px #cacaca, inset -9px -9px 18px #f6f6f6;
}

input:focus {
  background: #e0e0e0 !important;
  box-shadow: inset 9px 9px 18px #cacaca, inset -9px -9px 18px #f6f6f6 !important;
  border: 1px solid #757575 !important;
}

textarea {
  background: #e0e0e0;
  box-shadow: inset 9px 9px 18px #cacaca, inset -9px -9px 18px #f6f6f6;
  resize: none;
}

textarea:focus {
  background: #e0e0e0 !important;
  box-shadow: inset 9px 9px 18px #cacaca, inset -9px -9px 18px #f6f6f6 !important;
  border: 1px solid #757575 !important;
}

/* button */
button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 0px;
  background-color: #43609b;
  color: #fff;
  transition: background-color 0.3s ease, all 0.1s ease-in;
}

button:hover {
  background-color: #c99c26;
}

button:active {
  transform: translateY(2px);
}

.submit-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submit-btn button {
  background-color: #43609b;
  border: none !important;
}

.submit-btn button:hover {
  background: #295cc4;
}

.form-control::file-selector-button {
  background-color: #43609b !important;
  color: #f6f6f6;
}

.form-check-input:checked[type="checkbox"] {
  background-image: url("https://img.icons8.com/emoji/48/check-mark-emoji.png") !important;
}

/* about page */
.About {
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.Latar {
  width: 70%;
  margin: auto;
  margin-bottom: 70px;
  /* border: 2px solid black; */
}
.Latar p {
  text-indent: 50px;
}

.ourTeam {
  padding-top: 10px;
  margin: 30px;

  background-color: #f5f5f5;
}
.ourTeam h2 {
  text-align: center;
  margin: 50px;
}
.boxCard {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin-bottom: 30px;
}
.ourTeam .kartu {
  text-align: center;
  width: 300px;
  /* box-sizing: border-box; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
  /* border-radius: 5px; */
}
.ourTeam .kartu img {
  width: 100px;
  background-color: aqua;
  border-radius: 50%;
  margin: 20px;
}
.ourTeam .kartu h3 {
  margin: 8px;
}
.ourTeam .socialMedia {
  margin-top: 20px;
}

.ourTeam .socialMedia a {
  padding: 10px;
}
.ourTeam .socialMedia i {
  font-size: 1.5em;
}
.ourTeam .socialMedia a:hover i {
  transform: scale(1.2);
}
