@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

Pallete {
	color: #dd7160, #43609b, #252525;
}

* {
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	background-size: cover;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

/* Dropdown */
.dropdown {
	position: relative;
	display: inline-block;
}

.dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: #000000;
	background-color: inherit;
	margin: 0;
	padding: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	z-index: 1;
	width: 100%;
}

.dropdown-content a {
	color: #292929 !important;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center;
	margin: 0 !important;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* footer */
.footer-top {
	padding: 60px 10px;
	background: #252525;
	color: #aaa;
	margin: 10px;
	border-radius: 15px;
}

.footer-top h3 {
	padding-bottom: 50px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

.footer-about img.logo-footer {
	max-width: 200px;
	margin-top: 0;
	margin-bottom: 18px;
	filter: drop-shadow(0 3px 1px rgb(0, 0, 0));
}

.footer-about p a {
	border: 0;
}

.footer-about p a:hover,
.footer-about p a:focus {
	border: 0;
}

.footer-contact p {
	word-wrap: break-word;
}

.footer-contact i {
	padding-right: 10px;
	font-size: 18px;
	color: #666;
}

.footer-contact p a {
	border: 0;
}

.footer-contact p a:hover,
.footer-contact p a:focus {
	border: 0;
}

.footer-links a {
	color: #aaa;
	border: 0;
	text-decoration: none;
}

.footer-links a:hover,
.footer-links a:focus {
	color: #295cc4;
}

.footer-bottom {
	padding: 15px 0 17px 0;
	background: #131517;
	text-align: left;
	color: #aaa;
}

.footer-social {
	padding-top: 3px;
	text-align: right;
}

.footer-social a {
	margin-left: 20px;
	color: #777;
	border: 0;
}

.footer-social a:hover,
.footer-social a:focus {
	color: #79a05f;
	border: 0;
}

.footer-social i {
	font-size: 24px;
	vertical-align: middle;
}

.footer-copyright {
	padding-top: 5px;
}

.footer-copyright a {
	color: #fff;
	border: 0;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
	color: #aaa;
	border: 0;
}

.footer-sponsor {
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
	gap: 40px;
	align-items: center;
	justify-content: center;
}

.img-fluid {
	width: 100%;
	height: auto;
}

.footer-sponsor img {
	max-height: 180px;
	object-fit: fill;
	max-width: 120px;
}

/* Site Description */
site-description-element div {
	background-color: transparent;
	padding: 10px;
	word-spacing: 0.2cm;
}

site-description-element .desc-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
	padding: 20px;
	margin: 110px auto;
	max-width: 1350px;
	align-items: center;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
}

.desc-container img {
	max-width: 100%;
	height: auto;
	border-radius: 15px;
	vertical-align: middle;
}

.desc-container .description {
	margin: auto;
}

.desc-container .description p {
	color: #0c0c0c;
	font-size: 20px;
	text-align: center;
}

.desc-container .description h2 {
	color: #43609b;
	padding-bottom: 20px;
	font-size: 3.2em;
	font-weight: bold;
	text-align: center;
}

/* function section */
function-section {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

function-section button {
	padding: 10px 20px;
}

function-section h2 {
	color: #43609b;
	line-height: 1.1592;
	margin-bottom: -20px;
	font-weight: 600;
}

.banner-img {
	min-width: 500px;
	min-height: 650px;
}

.banner-img img {
	width: 100%;
	height: 100%;
}

.left-side {
	padding: 0 !important;
}

.left-side img {
	margin-left: -70px;
	display: flex;
	justify-content: end;
	align-items: flex-end;
	margin: auto;
}

.right-side {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	gap: 40px;
}

.right-side .btn-cari,
.right-side .btn-lapor-penemuan {
	border-radius: 5px;
}

.btn-cari,
.btn-lapor-penemuan,
.btn-primary,
.btn-submit {
	display: inline-block;
	padding: 0.75rem 1.5rem;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background-color: #dd7160;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.btn-lapor-penemuan:hover {
	background-color: #333;
}

/* information section */
information-section {
	position: relative;
	padding: 90px 180px 90px 130px;
	display: inline-block;
	background: none;
	margin: 50px 0 0 0;
	width: 100%;
	padding-bottom: 60px;
}

information-section h2 {
	color: #43609b;
	font-weight: 600;
	font-size: 2.8em;
	text-align: center;
	margin-bottom: 40px;
}

information-section h3 {
	text-align: center;
}

information-section a {
	text-decoration: none;
	color: #43609b;
	transition: 0.1s;
}

information-section a:hover {
	text-decoration: none;
	transform: translate(1.4px);
	color: #dd7160;
}

#scrollLeft,
#scrollRight {
	position: absolute;
	top: 47%;
	margin: 0 120px;
	font-size: 2.5em;
	background-color: #00000000;
	color: rgba(250, 250, 250);
	transition: 0.1s;
	z-index: 2;
}

#scrollLeft:hover,
#scrollRight:hover {
	transform: scale(1.1);
}

#scrollLeft {
	left: 0;
}

#scrollRight {
	right: 0;
}

.containerCard {
	padding: 30px;
	position: relative;
	margin: auto;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	gap: 30px;
	width: 90%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.bi-caret-right-fill:hover,
.bi-caret-left-fill:hover {
	color: #dd7160 !important;
}

.bi-caret-right-fill::before {
	content: '\f231';
	color: #43609b;
}

.bi-caret-left-fill::before {
	content: '\f22d';
	color: #43609b;
}

.containerCard::-webkit-scrollbar-thumb {
	background-color: #4b68a3;
	height: 5px;
	width: 5px;
	border-radius: 5px;
	border: 3px solid white;
}

.containerCard::-webkit-scrollbar-thumb:hover {
	display: block;
}

.containerCard::-webkit-scrollbar-track {
	background-color: rgb(238, 238, 238);
	border-radius: 5px;
}

.item-card {
	position: relative;
	width: 100%;
	max-width: 18rem;
	border: none;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	margin-bottom: 1.5rem;
}

.card-img-container {
	position: relative;
}

.item-card .card-img-top {
	height: 200px;
	object-fit: cover;
}

.item-lost-tag {
	position: relative;
	background-color: #ff4444;
	color: #0e0e0e;
	font-size: 0.875rem;
	font-weight: bold;
	padding: 0.25rem 0.5rem;
	margin-bottom: 0.5rem;
	text-align: center;
}

.item-found-tag {
	position: relative;
	background-color: #4be958;
	color: #333;
	font-size: 0.875rem;
	font-weight: bold;
	padding: 0.25rem 0.5rem;
	margin-bottom: 0.5rem;
	text-align: center;
}

.card-body {
	padding: 1rem;
}

.card-body h5 a {
	margin-bottom: 0.5rem;
	font-size: 1.25rem;
	font-weight: 600;
}

.card-body h5 a:hover {
	text-decoration: none;
	color: #dd7160;
}

.card-date {
	font-size: 0.875rem;
	color: #888;
	margin-bottom: 0.5rem;
}

.card-date .day {
	font-size: 0.85rem;
	font-weight: bold;
}

.location {
	position: absolute;
	top: 5px;
	left: 25px;
	font-size: 0.8rem;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 0.5rem;
	border-radius: 4px;
}

.location i {
	vertical-align: middle;
	margin-right: 0.25rem;
	color: #fff;
}

.card-text {
	font-size: 0.875rem;
	color: #555;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3; /* number of lines to show */
	line-clamp: 3;
	-webkit-box-orient: vertical;
}

@media (max-width: 576px) {
	.item-card {
		max-width: 100%;
	}
}

/* item home card */

.home-card {
	width: 18rem;
	border: none;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.card-img-top {
	height: 200px;
	object-fit: cover;
}

.card-home-body {
	padding: 1.5rem;
}

.card-home-body h5 {
	margin-bottom: 0.5rem;
	font-size: 1.25rem;
	font-weight: bold;
}

.card-home-text {
	font-size: 0.875rem;
	color: #555;
}

.home-location {
	font-size: 0.875rem;
	color: #888;
	margin-top: 0.75rem;
}

.material-icons {
	vertical-align: middle;
	font-size: 1rem;
	margin-right: 0.25rem;
	color: #888;
}

/* about page */
.about {
	margin: 25px 0 20px;
	text-align: center;
}

.latar {
	width: 70%;
	margin: auto;
}

.latar p {
	line-height: 28px;
}

hr {
	border: 3px solid #747272;
	margin: 0 auto 50px;
	border-radius: 5px;
}

.line-about {
	width: 150px;
}

.our-team {
	padding: 20px;
	background-color: #d8d8d8;
	margin-top: 100px;
}

.line-our-team {
	width: 200px;
	margin-bottom: 40px;
}

.our-team h2 {
	text-align: center;
	margin: 50px 0 20px;
}

.box-card {
	margin: auto;
	margin-top: 80px;
	padding: 40px 0 30px;
	justify-content: space-around;
	gap: 20px;
	margin-bottom: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.our-team .profile {
	padding: 30px 30px 20px;
	min-height: 325px;
	background-color: #fff;
	border-radius: 10px;
	box-sizing: border-box;
	cursor: pointer;
	position: relative;
}

.our-team .profile img {
	width: 100px;
	border: 3px solid #bfbfbf;
	border-radius: 50%;
	margin: 20px auto;
	background-color: #e3e3e3;
}

.image-detail p {
	text-align: center;
}

.image-profile {
	display: flex;
	justify-content: center;
	position: absolute;
	top: -70px;
	left: 50%;
	right: 50%;
}

.our-team .profile h4 {
	margin: 8px;
	text-align: center;
	margin-top: 50px;
}

.our-team .image-detail {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.our-team .social-media {
	/* align-self: end; */
	text-align: center;
	margin-top: 20px;
}

.our-team .social-media a {
	color: #f08f85;
	padding: 10px;
}

.our-team .social-media i {
	font-size: 1.5em;
	transition: 0.3s;
}

.our-team .social-media a:hover i {
	transform: scale(1.2);
	color: rgb(54, 54, 54);
}

/* item detail */
#detail-page {
	min-height: 900px;
}

#detail-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 35px;
	margin: 25px auto;
	padding: 30px 20px;
	overflow: hidden;
}

#search-input {
	border: 1px solid #9b9b9b !important;
	border-radius: 15px 0 0 15px;
	box-shadow: 2px 2px 2px #9b9b9b inset;
}

#search-input::placeholder {
	color: #333;
}

#item-list {
	border-radius: 5px;
}

.item-detail-header {
	text-align: center;
	padding: 16px;
}

.item-detail-header h2 {
	margin: 0;
	font-size: 24px;
	color: #333333;
	font-weight: bold;
}

.detail-image {
	max-width: 500px;
	height: 500px;
	width: 100%;
	border: 1px solid #8f8f8f;
	border-radius: 5px;
	border: 1px solid #adadad;
	box-shadow: 2px 2px 2px #adadad;

	display: flex;
	justify-content: center;
	align-items: center;
}

.detail-image img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.detail-title {
	color: rgb(48, 48, 48);
	padding: 10px;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.detail-function p {
	margin-bottom: 0;
}

.detail-title.lost {
	background-color: #e22b2bad;
}

.detail-title.found {
	background-color: #21b61cad;
}

.detail-title h3 {
	font-weight: bold;
	margin-bottom: 0px !important;
}

.detail-body {
	padding: 20px;
}

.detail-information {
	background-color: #f9f8f8;
	border: 1px solid #8f8f8f;
	box-shadow: 2px 2px 2px #adadad;
	border-radius: 5px;
	width: 100%;
	max-width: 500px;
	height: 500px;
}

.detail-information p {
	max-width: 500px;
}

.information-person,
.information-place,
.information-time,
.information-email,
.information-phone {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	margin: 10px 0;
}

.information-person p,
.information-place p,
.information-time p,
.information-email p,
.information-phone p {
	display: flex;
	margin: 0px;
}

.logo-filler {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo-filler img {
	max-width: 350px;
	filter: opacity(50%);
}

.detail-function {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border-radius: 5px;
	margin: 20px;
	overflow: hidden;
}

.detail-function p {
	color: #646464;
	font-size: 1em;
	text-align: center;
}

#date {
	font-size: 0.8em;
	font-weight: 600;
	color: #295cc4;
}

/* back to top */
#backToTopBtn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: transparent;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	opacity: 0;
	pointer-events: none;
	animation: bounce 2s infinite;
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-20px);
	}
	60% {
		transform: translateY(-10px);
	}
}

#backToTopBtn:hover {
	animation: shake 1s infinite;
}

@keyframes shake {
	0% {
		transform: translateY(0);
	}
	20% {
		transform: translateY(-10px);
	}
	40% {
		transform: translateY(10px);
	}
	60% {
		transform: translateY(-10px);
	}
	80% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0);
	}
}

/* loading animation */
.loading-animation {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 200px;
	position: relative;
}

.loader {
	border: 4px solid rgba(255, 255, 255, 0.2);
	border-top: 4px solid #333;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 1s linear infinite;
}

.loading-text {
	margin-top: 16px;
	font-size: 16px;
	color: #333;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* 404 page */

#bad-request {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 170px;
}

#bad-request img {
	max-width: 100%;
	height: auto;
	min-width: 300px;
}

#bad-request .bd-desc {
	max-width: 100%;
	min-width: 300px;
	padding: 0 20px;
	text-align: center;
}

.bad-desc p {
	font-size: 1.4em;
}

#close-modal-button.btn-close {
	background: transparent !important;
	cursor: default;
}

/* counter/timer */
#countdown {
	font-size: 48px;
	color: #ff0000;
	animation: countdown-animation 1s linear infinite;
}

@keyframes countdown-animation {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

/* finder-profile */

#finder-profile {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 50px auto;
}

.profile-card {
	width: 300px;
	height: 400px;
	margin: 20px;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	perspective: 1000px;
	transform-style: preserve-3d;
	transition: transform 0.5s;
}

.profile-card:hover {
	transform: translateY(-10px) rotateX(15deg);
}

.profile-card::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	transform-origin: top;
	transform: rotateX(90deg);
	transition: transform 0.5s;
}

.profile-card:hover::before {
	transform: rotateX(0deg);
}

.profile-card:hover .profile-info {
	opacity: 1;
}

.profile-img {
	position: relative;
	overflow: hidden;
	transform-origin: center;
	transform-style: preserve-3d;
	transition: transform 0.5s;
}

.profile-img img {
	width: 100%;
	height: auto;
	min-width: 250px;
}

.profile-img h2 {
	color: #161616;
	font-size: 26px;
	margin: 0;
	padding: 15px 10px;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
}

.profile-info {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	color: #ffffff;
	opacity: 0;
	transition: opacity 0.5s;
}

.profile-info h3 {
	font-size: 22px;
	margin-top: 0;
	font-weight: 600;
}

.profile-info p {
	font-size: 14px;
	text-align: center;
	padding: 15px;
	cursor: default;
}

.page-title {
	text-align: center;
	font-size: 2.8em;
	margin: 20px auto;
}

.warning-card {
	max-width: 1100px;
	height: 200px;
	margin: 20px auto;
	border-radius: 10px;
	overflow-y: auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.warning-card-content {
	padding: 20px;
	line-height: 1.5;
}

.warning-card-content p {
	margin: 0;
}

/* Media queries untuk finder-profile */

@media screen and (max-width: 480px) {
	.page-title {
		font-size: 1.8em;
	}
}
