* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/*
  AppBar
*/

.app-bar {
  padding: 8px 16px;
  background-color: #243352;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  padding: 8px;
  cursor: pointer;
  color: #e6be3c;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__brand img {
  width: 50px;
  height: auto;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 72px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: #243352;
  overflow: hidden;
  border-radius: 0 0 5px 0;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: #e6be3c;
  font-weight: bold;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
}

/* footer */
footer {
  display: flex;
  flex-direction: row;
  background-color: #243352;
  padding: 30px;
  color: #e6be3c;
}

.footer-left {
  display: flex;
  flex-direction: column;
  flex: 2;
  font-size: large;
}

.footer-left img {
  width: 30px;
  height: 30px;
}

.location,
.phone,
.message {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.message a {
  color: #e6be3c;
}

.icon-location,
.icon-phone,
.icon-message {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 50%;
  margin-right: 10px;
  transition: 0.5s;
}

.icon-location:hover,
.icon-phone:hover,
.icon-message:hover {
  background-color: #9ba4b5;
  cursor: pointer;
}

.footer-mid {
  flex: 2;
}

.footer-right {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.footer-right h3 {
  margin-bottom: 10px;
}

.footer-right .sosmed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.item-sosmed img {
  width: 30px;
  height: 30px;
}

.item-sosmed {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  transition: 0.5s;
}

.item-sosmed:hover {
  background-color: #9ba4b5;
  cursor: pointer;
}

footer {
  display: flex;
}

/*
  Site Description
*/
site-description-element div {
  background-color: #243352;
}

site-description-element .desc-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 30px;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
}

.desc-container img {
  max-width: 100%;
  height: auto;
}

.desc-container .description p{
  color: #fff;
}

.desc-container .description h2{
  color: #e6be3c;
  padding-bottom: 20px;
}

/* function section */
function-section {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
    /* height: 300px; */
}

function-section h2 {
    color: #243352;
}
.lostButton, .findButton {
    text-align: center;
}

function-section button {
    margin-top: 10px;
    padding: 15px 25px;
    font-size: 1em;
    background-color: #4B68A3;
    color: white;
    border: none;
    border-radius: 5px;
    transition: .1s;
}
function-section button:hover {
    transform: scale(1.1);
}

/* information section */
information-section {
    padding: 50px;
    display: inline-block;   
    background-color: #243352;
    padding: 80px 0;
    margin-bottom: 30px;
    width: 100%;
}
information-section h2 {
    color: #e6be3c;
    text-align: center;
    margin-bottom: 40px;
}
.containerCard {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 90%;
    padding: 10px 10px;
    overflow-x: scroll;
}

.containerCard::-webkit-scrollbar {
    width: 2px;
}
.containerCard::-webkit-scrollbar-thumb{
    background-color: #4B68A3;
    height: 5px;
    width: 5px;
    border-radius: 5px;
    border: 3px solid white;
}
.containerCard::-webkit-scrollbar-track{
    background-color: white;
    /* margin-block: 100px; */
    border-radius: 5px;
}
.card{
    min-width: 18rem;
    margin-bottom: 30px;
}
.card h5{
    padding: 0 5px;
    font-weight: 600;
}
.card-text{
    padding: 5px;
}

/* Form */
.form-container {
  padding: 20px;
  margin-inline: auto;
  max-width: 1200px;
}

.form-title {
  text-align: center;
  padding-block: 20px;
}

.image-area {
  border: 3px dashed rgba(34, 34, 34, 0.253);
  padding: 1rem;
  position: relative;
}

.image-area::before {
  content: 'Uploaded image result';
  color: gray;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.image-area img {
  z-index: 2;
  position: relative;
}